.box-hover {
  &:hover {
    z-index: 10;
    background-color: darken($grey-dark, 3) !important;
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  }
}

.border-wrapper {
  border-radius: 4px !important;
  overflow: hidden;
}

.z-index-999 {
  z-index: 999;
}

// selectors

.dark-select {
  select {
    border-color: $grey;
    background-color: $grey-dark;
    color: $white;
    &:hover {
      border-color: $grey-light;
    }
  }
}
