$spaceamounts: (0, 0.25, 0.5, 0.75, 1, 1.5, 3);
$spacenames: (0, 1, 2, 3, 4, 5, 6, 7);
$sides: (top, bottom, left, right);

@for $i from 1 through length($spaceamounts) {
  @for $j from 1 through length($sides) {
    .m-#{str-slice(nth($sides, $j), 0, 1)}-#{nth($spacenames, $i)} {
      margin-#{nth($sides, $j)}: #{nth($spaceamounts, $i)}rem !important;
    }

    .p-#{str-slice(nth($sides, $j), 0, 1)}-#{nth($spacenames, $i)} {
      padding-#{nth($sides, $j)}: #{nth($spaceamounts, $i)}rem !important;
    }
  }
}

.max-w-inherit {
  max-width: inherit !important;
}
