$desktop: 1140px;
$widescreen: 1140px;
$fullhd: 1140px;

$blue: #137cbd;
$red: #c23030;
$yellow: #d9822b;

$family-sans-serif: Tahoma, Verdana, Segoe, sans-serif;
$family-monospace: "Roboto Mono", monospace;
