@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:400,500,700|Roboto:300,400,500,700,900&display=swap&subset=cyrillic");

$desktop: 1140px;
$widescreen: 1140px;
$fullhd: 1140px;

$blue: #137cbd;

$family-sans-serif: "Roboto", sans-serif;
$family-monospace: "Roboto Mono", monospace;
